megatron-energon
transformers==5.3.0
qwen_vl_utils
torchvision==0.24.0
tensorboard
omegaconf
flash-linear-attention==0.4.2
setuptools==81.0.0
hydra-core
coverage
nvidia-modelopt==0.42.0
nvidia-resiliency-ext==0.4.1
accelerate
datasets
